<% layout("./boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form method="post" action="/post/<%=getId._id%>/edit?_method=PATCH" novalidate class="needs-validation">
        <div class="mb-3" >
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="title" name="listing[title]" value="<%=getId.title%>" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Proivde The Value!
              </div>
        </div>
        <div class="mb-3" >
            <label for="description" class="form-label">Description</label>
            <input type="text" name="listing[description]" placeholder="description" class="form-control" value="<%=getId.description%>" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Proivde The Value!
              </div>
        </div>
        <div class="mb-3" >
            <label for="price" class="form-label">Price</label>
            <input type="text" name="listing[price]" type="number" placeholder="price" class="form-control" value="<%=getId.price%>" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Proivde The Value!
              </div>
        </div>
        <div class="mb-3" >
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="location" class="form-control" value="<%=getId.location%>" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Proivde The Value!
              </div>
        </div>
        <div class="mb-3" >
            <label for="image" class="form-label">Image</label>
            <input type="text" name="listing[image][url]" placeholder="link/url" value="<%=getId.image.url%>" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Proivde The Value!
              </div>
        </div>
        <div class="mb-3" >
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="country" class="form-control" value="<%=getId.country%>" required>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Proivde The Value!
              </div>
        </div>
        <button class="btn btn-danger">Edit</button><br><br>
    </div>  
    </div>
</body>