<% layout("./boilerplate.ejs") -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
<h3><%=listing.title%></h3>
<body>
    <div class="cardlisting-card" style="width: 18rem;">
        <img src="<%=listing.image.url%>" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
</div>
      <div class="row">
        <div class="col-8 offset-2">
        <p>Owned by - <%=listing.owner.username%></p>
        <p>Desctiption - <%=listing.description%></p>
        <p>Price - &#8377 <%=listing.price.toLocaleString("en-IN")%></p>
        <p>Location - <%=listing.location%></p>
        <p>Country - <%=listing.country%></p>
        <%if(currUser && currUser._id.equals(listing.owner._id)){%>
        <div class="fle">   
            <form action="/listings/<%=listing._id%>/edit">
                <button class="flw btn btn-outline-success">Edit</button>
            </form><br>
            <form method="post" action="/listings/<%=listing._id%>/delete?_method=DELETE">
                <button class="flw btn btn-outline-danger">Delete</button>
            </form>
        </div>
   <% }%>
    </div>
    <div class="col-8 offset-2 mb-3">
        <hr>
        <%if(currUser){%>
            <h4>Leave a Review</h4>
        <form method="post" action="/listings/<%=listing.id%>/review" class="needs-validation" novalidate>
            <!-- <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" name="rating" id="rating" class="form-range">
            </div> -->
            <div class="mb-3 mt-3">
            <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label" >Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please Provide Comment
                   </div>
            </div><br>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
        <%}%>    
        <h4>All Reviews</h4>
        <ul>
        <div class="row">
       <% for(list of listing.reviews){%>
        <div class="card col-5 ms-3 mb-3" style="width: 18rem;">
            <div class="card-body">
              <h4>@<%=list.author.username%></h4>
              <p class="starability-result" data-rating="<%=list.rating%>">
                Rated: 3 stars
              </p>
              <h6><%=list.comment%></h6>
            </div>
            <%if(currUser && currUser._id.equals(list.author._id)){%>
            <form method="post" action="/listings/<%=listing.id%>/review/<%=list.id%>?_method=DELETE">
                <button class="btn btn-sm btn-dark mb-2 mt-2">Delete</button>
            </form>
            <%}%>
          </div>
        <%}%>
    </div>
        </ul>
    </div>
    </div>
</body>